div.container-fluid.text-center style="background: url(/image/home_cover.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  height: 100vh;
  overflow:scroll;"
  a.h1.text-shadow1 href="/"
    |Movlog
  h3.text-shadow3
    |Find the filming locations of your favorite movie and start your journey!
  a.btn.btn-primary.btn-lg.box-shadow1 href="#search" role="button" style="margin-top:5px;"
    |Get Started

div.container-fluid.text-center id="search" style="background: url(/image/search_bar.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 25%;
  padding-bottom: 20%;
  height: 100vh;
  overflow:scroll;"
  div.col-sm-6.col-sm-offset-3
    form role="form" action="/movie" method="get" id="search-form"
      div.form-movie
        label for='title'
        .input-group.input-group-lg
          input.form-control name="title" id="title" placeholder="Please Enter The Movie Title ..." type="text" style="margin-bottom:20px;"
          .input-group-btn
            button.btn.btn-default id="movie_search_submit" type="submit" style="margin-bottom:20px;"
              i.glyphicon.glyphicon-search

    / .progress
    /   .progress-bar.progress-bar-success.progress-bar-striped.active[
    /     role="progressbar" aria-valuenow="10" aria-valuemin="0"
    /     aria-valuemax="100" style="width:0%"]

- if @data
    .progress
      .progress-bar.progress-bar-success.progress-bar-striped.active[
        role="progressbar" aria-valuenow="10" aria-valuemin="0"
        aria-valuemax="100" style="width:0%"]

    script src = "#{@api_server}/faye.js"
    javascript:
      var channel = "#{@data}";
      var client = new Faye.Client("#{@api_server}/faye");
      var bar = document.getElementsByClassName("progress-bar")[0];
      var reg = /\:(\d+)%/
      client.subscribe('/' + channel, function(message) {
        var progress = bar.getAttribute("style")
        var currentProgress = reg.exec(progress)[1]
        
        if (isNaN(message)) {
          bar.setAttribute("style", "width:100%")
          bar.setAttribute("class", "progress-bar progress-bar-danger progress-bar-striped")
          bar.innerHTML = message
        } else {
          if (parseInt(message) > parseInt(currentProgress)) {
            bar.setAttribute("aria-valuenow", message)
            bar.setAttribute("style", "width:"+message+"%")
            bar.innerHTML = message+"%"

            if (message == "100") {
              setTimeout(function () {
                window.location = window.location.href.split('?')[0]
              }, 2000);
            }
          }
        }
      });
