a {
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button1:hover {
    background-color: #555555;
    color: white;
    border: 2px solid #fff;
}

.box-shadow1 {
    box-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}

.text-shadow1 {
    font-size: 80px;
    font-weight: 1500;
    color:inherit !important;
    text-decoration: inherit !important;
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}

.text-shadow2 {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}

.text-shadow3 {
    color: #0C1D7D;
    font-weight: bold;
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.container1 {
    display: flex;
    overflow: auto;
    height: 85vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.movies_table_scrollable {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    flex: 1;
}

.movies_table_scrollable::-webkit-scrollbar {
    display: none;
}

.movies_table_top {
    display: fixed;
    align-items: center;
    justify-content: center;
    position: relative;
}

.list_scrollable {
  overflow: scroll;
  max-height: 400px;
}

.item_scrollable {
  overflow: scroll;
  max-width: 460px;
}
